# Node modules
node_modules/

# Logs
*.log
logs/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# Dependency directories
jspm_packages/

# Build directories
dist/
build/

# IDE and editor configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# NPM package lock
package-lock.json
yarn.lock

# Coverage reports
coverage/

# Miscellaneous
*.tmp
*.swp
*.swo
